@model ComissionTB.ViewModels.CreateAktViewModel

@{
    ViewData["Title"] = "Новый акт";
}

<h1>Новый акт</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label">Номер</label>
                <input asp-for="aktNum" class="form-control" />
                <span asp-validation-for="aktNum" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Дата</label>
                <input asp-for="aktDate" class="form-control" />
                <span asp-validation-for="aktDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="id_cex" class="control-label">Подразделение</label>
                @Html.DropDownListFor(
                    m => m.id_cex,
                    new SelectList(Model.cex, "id_cex", "cexName"),
                    new { @class = "form-control" }
                )
            </div>

            <div class="form-group">
                <label asp-for="pred_Id" class="control-label">Председатель</label>
                @Html.DropDownListFor(
                    m => m.pred_Id,
                    new SelectList(Model.appUserPrs, "Id", "userFio"),
                    new { @class = "form-control" }
                )
            </div>

            <div class="form-group">
                <label asp-for="secr_Id" class="control-label">Секретарь</label>
                @Html.DropDownListFor(
                    m => m.secr_Id,
                    new SelectList(Model.appUserScr, "Id", "userFio"),
                    new { @class = "form-control" }
                )
            </div>


            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">К списку</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
