@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Охрана труда</h1>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="card">
            <div class="card-header">
                Авторизация
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Для доступа к функционалу системы пройдите авторизацию</p>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Вход</a>
                </blockquote>
            </div>
        </div>
    }

    <div class="row mt-2">
        <div class="col-md-4">
            <img src="/img/ang-avk-icons.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-md-8 text-justify">
            <p>
                Охрана труда – это комплекс организационных, технических мер, которые нужны для создания безопасных условий труда, и которые предотвращают несчастные производственные случаи. Она определяет внутренний организационный распорядок, отвечает за то, чтобы процесс ведения профессиональной деятельности был максимально беспроблемным. В предприятии для решения задач организовываются целые службы, находящиеся в ведомстве главного инженера, разрабатывающие направленные на обеспечение безопасных условий ведения деятельности мероприятия. Приложение предназначено для членов комиссии 3 ступени по охране труда "Ангарского Водоканала" и сотрудников предприятия, которые обязаны работать в системе, получать из неё акты, задания, заниматься устранением замечаний по акту-предписанию.                                                                                                           
            </p>
        </div>
    </div>
</div>
