@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<p>Разработал инженер-программист отдела информационных технологий Едгоров Егор Сафаралевич.</p>
<p>Телефон 8(3955) 52-71-97 (доп. 2326).</p>

<a href="/img/Инструкция веб-приложения Охрана труда.pdf" download="Инструкция веб-приложения Охрана труда">
    Загрузить инструкцию по эксплуатации веб-приложения.
</a>