@model ComissionTB.ViewModels.PomCreateViewModel

@{
    ViewData["Title"] = "Новое помещение";
}

<h1>Новое помещение</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePom">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.id_cex" />

            <div class="form-group">
                <label asp-for="pomName" class="control-label"></label>
                <input asp-for="pomName" class="form-control" />
                <span asp-validation-for="pomName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
                <a asp-action="Pom" asp-route-id="@Model.id_cex" class="btn btn-primary">К списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
