@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Сработала защита логической целостности базы данных</h3>
<p>
    Обратитесь к <strong><a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-success">разработчику</a></strong> приложения.
</p>
<p>
    <strong>Целостность базы данных</strong> — соответствие имеющейся в базе данных информации её внутренней логике, структуре и всем явно заданным правилам. Каждое правило, налагающее некоторое ограничение на возможное состояние базы данных, называется <strong>ограничением целостности</strong>.            
    <strong>Ограничения целостности</strong> — являются специальными средствами баз данных, которые предназначены для предупреждения возможности попадания в базу недопустимым данным.
</p>
